.margin {
  margin-top: 7%;
}
.sidebar {
  margin-top: 3%;
}
.name {
  color: #fff;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  padding: 30px;
}

.card .avatar {
  /* width: 10%; */
  border-radius: 50%;
}

.card a label {
  padding-top: 23px;
}

.card .header-card {
  background: #f2f4f2;
  text-align: center;
  margin: -30px;
  padding: 20px;
}
.type {
  background: #4aba4c;
  height: 100%;
}

.type i {
  color: #fff;
  padding-top: 23px;
  font-size: 25pt;
}

.type h6 {
  color: #fff;
}

.error {
  color: red;
}
